<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
	<title>PlusBusiness</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="stylesheet" href="css/flash.css" type="text/css" />
</head>
<body>
	<div id="head">
		<div id="infoUser">
			<div>Name</div>
			<div>Lastname</div>
			<input type="button" name="favcolor">
		</div>
	</div>
	<div id="main">
		<div id="mainLeft"></div>
		<div id="mainRight">
			<input type="button" name="favcolor">
		</div>
	</div>
</body>
</html>
